<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuyende.hotelbookingappofadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelBookingAppOfAdmin">

        <activity
            android:name=".ui.nguoidung.ChiTietNguoiDung"
            android:label="@string/title_activity_nguoidung" />
        <activity
            android:name=".ui.khachsan.ChiTietKhachSan"
            android:label="@string/title_activity_khachsan" />
        <activity
            android:name=".ui.Menu"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.DangNhap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".library.CheckConnection"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>


</manifest>